.modal-add-new-destination {

    .title {
        margin-bottom: 16px;
    }

    .input {
        margin-bottom: 24px;
        background-color: #EFEFEF;

        &.with-margin-right {
            margin-right: 8px;
        }

        &.with-margin-left {
            margin-left: 8px;
        }
    }

    .switch {
        display: flex;
        align-items: center;
    }

    .information-input {
        display: flex;
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: end;
    }
}